.Leads{
    margin: 10px;
    background-color: rgb(253, 253, 253);
    padding: 10px;
    width: 25%;
    border-radius: 10px;
}

.Leads_Colum1{
    color:rgb(133, 122, 122);
    padding-top: 10px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Leads_Column2{
    /* background-color: violet; */
    display: flex;
    flex-direction: row;
    padding-left: 40px;
}

.Leads_Column2 h3{
    color: rgb(36, 214, 0);
    margin-left: 10px;
    margin-bottom: 6px;
}

.Leads_Column2 h2{
    color: rgb(132, 139, 124);
}

.Leads_Column3 ul {
    margin-top: 2px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.Leads_Column3 li{
    color: rgb(133, 122, 122);
    padding-top: 10px;
    margin: 5px 10px 5px 0px;
    display: flex;
    flex-direction: row;
}

.Orange_Line{
    background-color: orangered;
    height: 4px;
    width: 170px;
    margin-top: 6px;
    margin-left: 45px;
    border-radius: 2px;
}

.Green_Line{
    background-color: green;
    height: 4px;
    width: 120px;
    margin-top: 6px;
    margin-left: 20px;
    border-radius: 2px;
}

.Blue_Line{
    background-color: blue;
    height: 4px;
    width: 80px;
    margin-top: 6px;
    margin-left: 20px;
    border-radius: 2px;
}